/* Transitions
   ----------- */
/* No files to import found in hydrogen/**\/* */
/* No files to import found in hydrogen/**\/* */
@-webkit-keyframes opacityFadeIn {
  from {
    opacity: 0.08;
    top: 16%; }
  to {
    opacity: 1;
    top: 86px; } }
@-moz-keyframes opacityFadeIn {
  from {
    opacity: 0.08;
    top: 16%; }
  to {
    opacity: 1;
    top: 86px; } }
@-o-keyframes opacityFadeIn {
  from {
    opacity: 0.08;
    top: 16%; }
  to {
    opacity: 1;
    top: 86px; } }
@keyframes opacityFadeIn {
  from {
    opacity: 0.08;
    top: 16%; }
  to {
    opacity: 1;
    top: 86px; } }
@-webkit-keyframes opacityFadeOut {
  from {
    opacity: 1;
    top: 86px; }
  to {
    opacity: 0;
    top: 0; } }
@-moz-keyframes opacityFadeOut {
  from {
    opacity: 1;
    top: 86px; }
  to {
    opacity: 0;
    top: 0; } }
@-o-keyframes opacityFadeOut {
  from {
    opacity: 1;
    top: 86px; }
  to {
    opacity: 0;
    top: 0; } }
@keyframes opacityFadeOut {
  from {
    opacity: 1;
    top: 86px; }
  to {
    opacity: 0;
    top: 0; } }
@-webkit-keyframes leftFadeInNewsBox {
  from {
    margin-left: -60%; }
  to {
    margin-left: 8px; } }
@-moz-keyframes leftFadeInNewsBox {
  from {
    margin-left: -60%; }
  to {
    margin-left: 8px; } }
@-o-keyframes leftFadeInNewsBox {
  from {
    margin-left: -60%; }
  to {
    margin-left: 8px; } }
@keyframes leftFadeInNewsBox {
  from {
    margin-left: -60%; }
  to {
    margin-left: 8px; } }
@-webkit-keyframes ripple {
  40% {
    opacity: 0.92;
    -webkit-transform: scale(2); }
  60% {
    opacity: 0.86;
    -webkit-transform: scale(2.2); }
  72% {
    opacity: 0.48;
    -webkit-transform: scale(2.24); }
  100% {
    opacity: 0;
    -webkit-transform: scale(2.4); } }
@-moz-keyframes ripple {
  40% {
    opacity: 0.92;
    -moz-transform: scale(2); }
  60% {
    opacity: 0.86;
    -moz-transform: scale(2.2); }
  72% {
    opacity: 0.48;
    -moz-transform: scale(2.24); }
  100% {
    opacity: 0;
    -moz-transform: scale(2.4); } }
@-o-keyframes ripple {
  40% {
    opacity: 0.92;
    -o-transform: scale(2); }
  60% {
    opacity: 0.86;
    -o-transform: scale(2.2); }
  72% {
    opacity: 0.48;
    -o-transform: scale(2.24); }
  100% {
    opacity: 0;
    -o-transform: scale(2.4); } }
@keyframes ripple {
  40% {
    opacity: 0.92;
    transform: scale(2); }
  60% {
    opacity: 0.86;
    transform: scale(2.2); }
  72% {
    opacity: 0.48;
    transform: scale(2.24); }
  100% {
    opacity: 0;
    transform: scale(2.4); } }
.rippled {
  position: relative;
  overflow: hidden;
  z-index: 0; }

.ink {
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.32);
  border-radius: 50%;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0); }

.animate {
  -webkit-animation: ripple 0.64s ease-out;
  -moz-animation: ripple 0.64s ease-out;
  -ms-animation: ripple 0.64s ease-out;
  -o-animation: ripple 0.64s ease-out;
  animation: ripple 0.64s ease-out; }

#newsBox {
  -webkit-animation: leftFadeInNewsBox 1.56s ease;
  animation: leftFadeInNewsBox 1.56s ease; }

.page, .pageApp {
  -webkit-animation: opacityFadeIn 560ms ease-out;
  -moz-animation: opacityFadeIn 560ms ease-out;
  -ms-animation: opacityFadeIn 560ms ease-out;
  -o-animation: opacityFadeIn 560ms ease-out;
  animation: opacityFadeIn 560ms ease-out; }

.hiddenPage, .hiddenPageApp {
  -webkit-animation-name: opacityFadeOut 560ms ease-in;
  -moz-animation-name: opacityFadeOut 560ms ease-in;
  -ms-animation-name: opacityFadeOut 560ms ease-in;
  -o-animation-name: opacityFadeOut 560ms ease-in;
  animation-name: opacityFadeOut 560ms ease-in; }

/*# sourceMappingURL=transitions.css.map */
